header {
    background-color: #1c1c1c;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Aangepast naar rechts uitlijnen */
    max-width: 960px;
    width: 100%;
    padding: 0 2rem;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 2rem;
  }
  
  nav ul li:last-of-type {
    margin-right: 0;
    font-size: 0.9rem; /* Aangepast naar kleiner lettertype */
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  nav ul li a:last-of-type {
    font-size: 0.9rem; /* Aangepast naar kleiner lettertype */
  }
  
  
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 1rem;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
  }
  
  section {
    margin-bottom: 2rem;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 1rem;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 0.5rem;
  }
  
  input,
  textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
  }
  
  button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #555;
  }
  
  /* stijlen voor de footer */
  footer {
    background-color: #eee;
    padding: 1rem;
    text-align: center;
  }
  .container {
    display: flex;
    justify-content: space-around; /* Vakjes uit elkaar zetten */
    align-items: center;
    height: 400px; /* Hoogte container verhogen voor grotere vakjes */
  }
  
  .tile {
    width: 30%; /* Breedte vakjes vergroten */
    height: 80%; /* Hoogte vakjes vergroten */
    background-color: #ccc; /* Grijze achtergrondkleur */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .tile:hover {
    transform: scale(1.1); /* Vergroten bij hover */
  }
  
  .tile a {
    text-decoration: none;
    color: #000;
  }
  
  .tile i {
    font-size: 5rem;
  }
  
  .tile h2 {
    font-size: 2rem;
    margin-top: 1rem;
  }
  