h1{
    color: blue;
}

.h2first{
    color: chartreuse;
}

.h2second{
    color: crimson;
}

.divfirst{
    background-color: aqua;
    margin-left: 20px;
    padding-left: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.divsecond{
    background-color: rgb(84, 14, 105);
    margin-left: 20px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body{
    background-color: bisque;
}