body{
    margin-left: 70px;
    background-image: url("website-background.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
.bovenbalk{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.bovenbalk ul {
    margin: 50;
}
.bovenbalk li {
    display: inline-block;
    margin-right: 70px;
}
    
.bovenbalk li:last-child {
    margin-right: 0;
}
    
.bovenbalk a {
    color: white;
    text-decoration: none;
}
a:hover{
    color: aqua;
}
.Overmij{
    color: white;
}
.titel{
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}
.titelnaam{
    color: white;
}

.h2first{
    color: white;
}

.testfoto{
    height: auto;
    width: 300px;
    margin-left: 50px;
}
.h2second{
    color: white;
}
.teksthobbies{
    color: white;

}

.CVfoto{
    height: auto;
    width: 600px;

}
.contact-line {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .contact-line img {
    height: 24px;
    margin-right: 10px;
  }
  
  .contact-line p {
    font-size: 18px;
    margin: 0;
  }
