
.evening{
    background-image: url("evening.png");
}
.afternoon{
    background-image: url("afternoon.png");
}
.morning{
    background-image: url("morning.png");
}
.night{
    background-image: url("night.png");
}



